{% extends "layout.html" %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">من نحن؟</h2>
            <hr>
            <p class="card-text">
              <strong>شيّـــك</strong> هي أول منصة عربية إخبارية تجمع بين وكالات الأنباء والقنوات الإخبارية والصحف في مكان واحد.
              <br><br>
              نتميز في شيّـــك باستخدام أحدث تقنيات الذكاء الاصطناعي للتحقق من الفيديوهات المعرضة لتقنيةالـDeepfake <br>
              في الفبركة والتعديل، لضمان نشر أخبار موثوقة وغير متلاعب بها.
              <br><br>
              نحن هنا لنقدم لكم تجربة إخبارية فريدة، تعتمد على الدقة والموثوقية، لتبقوا على اطلاع دائم بكل ما يحدث في العالم.
              </p>         
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}