{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<form action="" method="post">
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">تسجيل الدخول</legend>
    <div>
        <label for="username">اسم المستخدم:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">كلمة المرور:</label>
        <input type="password" id="password" name="password">
    </div>
    </fieldset>
    <button type="submit" class="btn">تسجيل الدخول</button>
</form>
</div>
{% endblock content %}