{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    {% for key, request in requests.items() %}
    <div>
        <p><strong>اسم المستخدم:</strong> {{ request['username'] }}</p>
        <p><strong>البريد الالكتروني:</strong> {{ request['email'] }}</p>
        <p><strong>اسم المنصة:</strong> {{ request['company_name'] }}</p>
        <p><strong>الملفات المرفقة:</strong> <a href="{{ request['company_docs_url'] }}" target="_blank">تنزيل المرفقات</a></p>
        <form action="{{ url_for('verify_request', request_id=key) }}" method="post" class="admin-form">
            <button type="submit" name="decline" class="btn">رفض</button>
            <button type="submit" name="accept" class="btn">قبول</button>
        </form>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock content %}