
{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-header">
            <h4>معلومات الحساب</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title"> اسم الصحيفة: {{ user_info }}</h5>
        </div>
    </div>

        <div class="card-header">
            <h4>المنشورات</h4>
        </div>
            {% for post in posts %}
            {% if post.author == user_info %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.timestamp }}</small>
                        </div> 
                        <br>
                        <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
                        <p class="article-content">{{ post.content }}
                            {% if post.media %}
                                {% set file_ext = post.media.split('.')[-1].lower() %}
                                {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                                    <video class="post-video" controls>
                                        {% if file_ext == 'mp4' %}
                                            <source src="{{ post.media }}" type="video/mp4">
                                        {% elif file_ext == 'webm' %}
                                            <source src="{{ post.media }}" type="video/webm">
                                        {% elif file_ext == 'ogg' %}
                                            <source src="{{ post.media }}" type="video/ogg">
                                        {% elif file_ext == 'mov' %}
                                            <source src="{{ post.media }}" type="video/quicktime">
                                        {% endif %}
                                    </video>
                                {% else %}
                                    <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                                {% endif %}
                            {% endif %}
                        </p>
                        {% if post.author == user_info %}
                            <form action="{{ url_for('delete_post', post_id=post.post_id) }}" method="post">
                                <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">حذف النشرة</button>
                            </form>
                            <script>
                                function confirmDelete() {
                                    return confirm('متأكد من حذف النشرة؟');
                                }
                            </script>
                        {% endif %}
                    </div>
                </article>
            {% endif %}    
        {% endfor %}
</div>
{% endblock %}