{% extends "layout.html" %}
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
{% block content %}
<head>
  <script>
    function updateFileName(input) {
    var fileName = input.files[0].name;
    var label = input.nextElementSibling;
    label.innerText = fileName;
}
  </script>
 
</head>
  <div class="content-section text-right">
    <form method="POST" action="" enctype="multipart/form-data" class="user-forms">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">طلب تسجيل حساب منصة إخبارية</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid text-right") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg text-right") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid text-right") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg text-right") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid text-right") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg text-right") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirmPassword.label(class="form-control-label") }}
          {% if form.confirmPassword.errors %}
            {{ form.confirmPassword(class="form-control form-control-lg is-invalid text-right") }}
            <div class="invalid-feedback">
              {% for error in form.confirmPassword.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirmPassword(class="form-control form-control-lg text-right") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.company_name.label(class="form-control-label") }}
          {% if form.company_name.errors %}
            {{ form.company_name(class="form-control form-control-lg is-invalid text-right") }}
            <div class="invalid-feedback">
              {% for error in form.company_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.company_name(class="form-control form-control-lg text-right") }}
          {% endif %}
        </div>
        <div class="form-group">
          <div class="flash-message">
            <div class="disclaimer">
                <span class="icon">!تنبيه</span>
                <p>يرجى إرفاق الوثائق المطلوبة لتسجيل المؤسسة وهي: <br> 
                  <ul style="direction: rtl;">
                      <li>معلومات الترخيص الإعلامي (رقم الترخيص، تاريخ الإصدار، تاريخ الانتهاء)</li>
                      <li>معلومات المتقدم بالطلب (الاسم، رقم الهوية، المنصب في المؤسسة)</li>
                      <li>ختم الموافقة على طلب فتح الحساب، وتوقيع صاحب صلاحية في المؤسسة</li>
                      <li>معلومات التواصل</li>
                  </ul>
              </p>
            </div>
        </div>
          <div class="custom-file" style="text-align: left; font-family:'Droid Arabic Kufi', serif;">
              {{ form.company_docs.label(class="custom-file-label form-control-label", caption="ارفاق ملف") }}
              {% if form.company_docs.errors %}          
                   <input type="file" class="custom-file-input" id="customFile" name="company_docs" onchange="updateFileName(this)">
                   <label class="custom-file-label" for="customFile">رفع ملف وثائق المنصة</label>
                  <div class="invalid-feedback">
                      {% for error in form.company_docs.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}          
                  <input type="file" class="custom-file-input" id="customFile" name="company_docs" onchange="updateFileName(this)">
                  <label class="custom-file-label" for="customFile">رفع ملف وثائق المنصة</label>
              {% endif %}
          </div>
      </div>
                  
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn form-buttons") }}
      </div>
    </form>
  </div>
{% endblock %}