{% extends "layout.html" %}
{% block content %}
    <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#postModal">
        إضافة نشرة جديدة
    </button>

    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">انشاء نشرة جديدة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/submit_post" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="post-title">العنوان</label>
                            <input type="text" class="form-control" id="post-title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="post-body">المحتوى</label>
                            <textarea class="form-control" id="post-body" name="body" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="post-media">الوسائط</label>
                            <input type="file" class="form-control-file" id="post-media" name="media">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-primary">رفع</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a>
                <small class="text-muted">{{ post.timestamp }}</small>
            </div> 
            <br>
            <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
            <p class="article-content">{{ post.content }}
                {% if post.media %}
                    {% set file_ext = post.media.split('.')[-1].lower() %}
                    {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                        <video class="post-video" controls>
                            {% if file_ext == 'mp4' %}
                                <source src="{{ post.media }}" type="video/mp4">
                            {% elif file_ext == 'webm' %}
                                <source src="{{ post.media }}" type="video/webm">
                            {% elif file_ext == 'ogg' %}
                                <source src="{{ post.media }}" type="video/ogg">
                            {% elif file_ext == 'mov' %}
                                <source src="{{ post.media }}" type="video/quicktime">
                            {% endif %}
                        </video>
                    {% else %}
                        <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                    {% endif %}
                {% endif %}
            </p>
            {% if post.author_email == user_id %}
                <form action="{{ url_for('delete_post', post_id=post.post_id) }}" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">حذف النشرة</button>
                </form>
                <script>
                    function confirmDelete() {
                        return confirm('متأكد من حذف النشرة؟');
                    }
                  </script>
            {% endif %}
        </div>
    </article>
{% endfor %}
{% endblock content %}